/* Sobre Nosotros */

#sobreNosotros {
    height: 50vh;
    background: #0a0808;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: aliceblue;
    width: 100%;
}

#sobreNosotros h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#sobreNosotros p {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
}