/* Sobre Nosotros */

#sobreNosotros {
    height: 55vh;
    background: #0a0808;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    scroll-margin-top: 20vh;
}

#bioContainer {
    background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;
    height: 80%;
    border-right: 2px solid #8d8d8d71;
    /*gap: clamp(0px, 6vh, 10px);*/
    font-family: 'oswald', sans-serif;
    letter-spacing: 1px;
}

#statsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 40%;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(5px, 2vh, 15px);
    color: white;
    border-top: 2px solid #8d8d8d71;
    border-bottom: 2px solid #8d8d8d71;
}

#bioContainer h2 {
    font-size: clamp(25px, 2vw, 45px);
}

#bioContainer p {
    font-size: clamp(14px, 1.5vw, 25px);
    text-align: center;
    width: 80%;
}

.stat h3 {
    font-size: clamp(23px, 2vw, 35px);
    margin-bottom: 10px;
    color: #ffd700;
}

.stat p {
    font-size: clamp(12px, 1.5vw, 22px);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
}

/* celular */
@media (max-width: 1024px) {
    #sobreNosotros {
        flex-direction: column;
        height: 45vh;
    }

    #bioContainer {
        width: 100%;
        height: 100%;
        border: none;
        letter-spacing: 0px;
    }

    #bioContainer p {
        height: 70%;
        width: 95%;
    }

    #statsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 40%;
    }

    .stat {
        border: none;
        border-right: 2px solid #8d8d8d71;
        margin-left: clamp(5px, 5vw, 10px);
    }

    .stat p {
        font-size: clamp(12px, 1.5vw, 22px);
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0px;
    }
}