/*contactUs*/

/*negro no negro: #1A1A1A
dorado oscuro:#B8960C
dorado claro:#FFF3B0*/

#contactUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    scroll-margin-top: 15vh;
    position: relative;
    background-image: url('../assets/img/fondo13.jpg');
    z-index: 0;
    border-top: clamp(5px, 10vw, 10px) solid #000000;
    border-bottom: clamp(5px, 10vw, 10px) solid #000000;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.699);
    z-index: 1;
}

#mensajeContainer {
    height: 65%;
    width: 55%;
    background: white;
    color: white;
    display: flex;
    flex-direction: row;
    background: rgb(39, 34, 34);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#formMensajes {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoContact {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgb(80, 80, 80);
}

#infoContact h1 {
    font-family: 'oswald', sans-serif;
    font-size: clamp(20px, 4vw, 30px);
    margin-bottom: clamp(40px, 10vw, 70px);
}

#infoContact p {
    font-family: 'oswald', sans-serif;
    font-size: clamp(10px, 2vw, 16px);
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: clamp(5px, 5vw, 15px);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: clamp(40px, 10vw, 70px);
}

#buttonsContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(145deg, #FFD700 0%, #FFC107 100%);
    width: clamp(30px, 10vw, 70px);
    height: clamp(30px, 10vw, 70px);
    object-fit: cover;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#buttonsContainer a:hover {
    transform: scale(1.1);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

#formMensajes h1 {
    font-family: 'oswald', sans-serif;
    font-size: clamp(20px, 4vw, 50px);
}

#formMensajes p {
    font-size: clamp(10px, 2vw, 16px);
    font-family: 'oswald', sans-serif;
}

#inputEmail {
  padding: clamp(5px, 2vw, 10px);
  color: black;
  margin-bottom: clamp(5px, 5vw, 15px);
  width: clamp(450px, 100%, 500px);
  height: clamp(20px, 10vw, 40px);
}

#inputMensaje {
  padding: clamp(5px, 2vw, 10px);
  color: black;
  margin-bottom: clamp(15px, 5vw, 25px);
  width: clamp(300px, 100%, 500px);
  height: clamp(40px, 15vw, 100px);
}

#buttonForm {
    width: clamp(100px, 30%, 150px);
    color: #000000;
    cursor: pointer;
    font-size: clamp(14px, 2vw, 25px);
    background: linear-gradient(145deg, #FFD700 0%, #FFC107 100%);
    padding: clamp(2px, 2vw, 5px);
    font-weight: 600;
    transition: all 0.4s ease;
}

#buttonForm:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* celular */
@media (max-width: 1024px) {
    
    #mensajeContainer {
        height: 95%;
        width: 80%;
        flex-direction: column;
    }
    
    #mensajeContainer h1 {
        font-size: 25px;
    }

    #mensajeContainer p {
        font-size: 10px;
    }
    
    #formMensajes {
        width: 100%;
        height: 50%;
    }
    
    #infoContact {
        width: 100%;
        height: 50%;
        border-top: 2px solid rgb(80, 80, 80);
        border-left: none;
    }
    
    #infoContact h1 {
        padding: 10px;
    }

    #infoContact p {
        border-bottom: none;
        padding-left: 5px;
        width: 75%;
    }

    #buttonsContainer {
        width: 100%;
        margin-top: 25px;
    }

    #buttonsContainer a {
        width: 40px;
        height: 40px;
    }

    #infoContact a img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        transition: all 0.4s ease;
    }

    #formMensajes h1 {
        padding: 10px;
        border-bottom: 2px solid #FFD700;
    }

    #formMensajes p {
        width: 75%;
        margin-top: 20px;
        border-bottom: none;
    }

    #inputEmail {
        font-size: larger;
    }

    #inputMensaje {
      padding: 15px;
      padding-left: 0px;
      margin-top: 15px;
      height: 10%;
    }

    #buttonForm {
        width: 30%;
        height: 8%;
        font-size: clamp(15px, 2vw, 30px);        
        padding: 5px;
        margin-top: 5px;
    }

}