/* galeria */

#galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#galeria h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#galeria h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.gContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip.active {
    opacity: 1;
}

.hovered {
    transform: scale(1.2);
}