/* galeria */

#galeria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    gap: 20px;
    width: 100%;
    background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    overflow: hidden;
    color: #fff;
    position: relative;
    scroll-margin-top: 15vh;
    font-family: 'oswald', sans-serif;
}

#fondoGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

#galeria h1 {
    font-size: 40px;
    background: #0000006d;
    text-align: center;
    padding: 25px;
    width: 100%;
}

.gContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 18px;
  padding: 20px;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.gContainer img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top;

  transition: transform 0.3s ease;
}

.gContainer img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.gContainer img:nth-child(3) {
  grid-column: span 2;
}

.gContainer img:nth-child(5) {
  grid-row: span 2;
}

.gContainer img:nth-child(7) {
  grid-column: span 2;
}

.tooltip {
    width: 150px;
    height: 50px;
    position: absolute;
    background: #6b0f0f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip.active {
    opacity: 1;
}

.gContainer img:hover {
    transform: scale(1.1);
}

/* Responsividades */

/* celular */
@media (max-width: 768px) {
  .gContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: auto;
  }

  .gContainer img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

/* tablet */
@media (max-width: 1024px) {
    .gContainer {
        grid-template-columns: repeat(2, 250px);
    }
}
