/*contactUs*/

/*negro no negro: #1A1A1A
dorado oscuro:#B8960C
dorado claro:#FFF3B0*/

#contactanos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background: #FFD700;
    padding: 40px 0;
}

#canalesContainer {
    background: gray;
    height: 100%;
    width: 35%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

#formContainer {
    height: 100%;
    width: 65%;
    background: white;
}

#form {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    gap: 15px;
    position: relative;
}

#form h1 {
    
}

#form p{
    
}

.inputContact {
  padding: 10px;
  background: white;
  border: 1px solid #FFD700;
  color: black;

  width: 50%;
}

.inputContact.mensaje {
  display: flex;
  align-items: flex-start;
  height: 20vh;
}

#buttonForm {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.726);
    width: 35%;
    height: 5%;
    color: #000000;
    cursor: pointer;
    font-size: clamp(14px, 2vw, 30px);
    background: linear-gradient(145deg, #FFD700 0%, #FFC107 100%);
    padding: 25px;

    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

#buttonForm:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px #FFD700;
}