/* header */

header {
    background-color: #353333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    padding: 20px 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#titulo {
    letter-spacing: 5px;
    font-size: 35px;
    text-decoration: none;
    color: white;
    transition: color 2s ease;
}

#titulo:hover {
    color: #e0b011;
    transform: scale(1.1);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.enlace {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.9s ease;
}

.enlace:hover {
    color: #e0b011;
}