/* header */

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


header {
    background: rgba(53,51,40,0.3);
    backdrop-filter: blur(5px);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    padding: 20px 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#titulo {
    letter-spacing: 5px;
    font-size: 40px;
    text-decoration: none;
    color: #FFD700;
    transition: color 0.7s ease;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

#titulo:hover {
    transform: scale(1.03);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.enlace {
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: clamp(5px, 4vw, 30px);
    transition: color 0.5s ease;
}

.enlace:hover {
    color: #DAA520;
    transform: scale(1.1);
}